
.wrapper {
    height: 100%;
}

.logo{
    grid-column: 1 /3;
    grid-row: 1;
    border-bottom: 0px !important;
}
.productos{
    grid-column: 1/3;
    grid-row: 2;
}
.ayudas{
    grid-column: 1;
    grid-row: 3;
    border-bottom: 0px !important;   
}
.videos{
    grid-column: 2;
    grid-row: 3;
    border-bottom: 0px !important;
}
.img-product{
    width:70%;
    height: auto;
}
.img-product-f{
    width:40%;
    height: auto;
}
